# macOS system files
.DS_Store

# Node modules
node_modules/

# Build output
dist/

# Local environment files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Overwolf packages
*.opk

# Temporary and trash files
trash/*
releases/

# Public assets
public/league/

# TypeScript and npm files
package-lock.json

# Ignore any example directories or files (assuming examples are not needed in production)
example/
